<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>details</h1>
    <table>
        <td>{{job.id}}</td>
        <td>{{job.username}}</td>
        <td>{{job.qualification}}</td>
        <td>{{job.age}}</td>
        <td>{{job.experience}}</td>
        <td>{{job.currenlty_working}}</td>

    </table>
</body>
</html>